<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wk.materialnewfeaturedemo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabLayoutActivity"
            android:label="@string/title_activity_tab_layout" >
        </activity>
        <activity
            android:name=".DataBinderActivity"
            android:label="@string/title_activity_data_binder" >
        </activity>
        <activity
            android:name=".AppBarActivity"
            android:theme="@style/AppBaseTheme"
            android:label="@string/title_activity_app_bar" >
        </activity>
    </application>

</manifest>
